.Title {
    font-family:helvetica;
    font-size: 100px;
    font-weight:bold;
    color:khaki;
    text-align: center;
    background-image: url("pattern.jpg");
}
.Subheading1 {
    font-family:helvetica;
    font-size: 32px;
    font-weight:bold;
    color:white;
    background-color: mediumspringgreen;
}
.Subheading2 {
    font-family:helvetica;
    font-size: 32px;
    font-weight:bold;
    color:white;
    background-color:lightcoral;
}
.Subheading3 {
    font-family:helvetica;
    font-size: 32px;
    font-weight:bold;
    color:white;
    background-color:skyblue;
}
span {
    font-family:helvetica;
    font-weight:bold;
    color:blue;
}